
@Styles.Render("~/Content/css")



@{
	ViewBag.Title = "PowerBI";
	Layout = "~/Views/Shared/_Layout.cshtml";



}



<ul class="nav navbar navbar-nav nav-tabs-justified">
	<li><a id="len1" class="hoverable" href="HomePage">Back</a></li>
</ul>
<br />
<h2 style="text-align:center;color:white;">PowerBI</h2>
<br />


<iframe title="Team A Proper PowerBI ADF - Ticket Info" width="1360" height="590" src="https://app.powerbi.com/reportEmbed?reportId=351aec25-64eb-4c59-9b3a-63cebcc27624&autoAuth=true&ctid=bdcfaa46-3f69-4dfd-b3f7-c582bdfbb820&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtdXMtYy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>

@*<iframe title="PowerBI TeamA - Report" width="1360" height="590" src="https://app.powerbi.com/reportEmbed?reportId=8e142494-a4ba-4a62-ae72-70188754ab8a&autoAuth=true&ctid=bdcfaa46-3f69-4dfd-b3f7-c582bdfbb820&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtdXMtYy1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="1" allowFullScreen="true"></iframe>*@

